$primary-color: #007bff;
$primary-hover-color: #0056b3;

$text-color-dark: #333;
$text-color-medium: #555;
$text-color-light: #666;

$background-color: #ffffff;
$background-color-light: #d6d6d6;
$card-background-color: #f9f9f9;

$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

$border-radius: 8px;
